/Studio_v-1.0/.gradle
/Studio_v-1.0/.idea
/Studio_v-1.0/app/build
/Studio_v-1.0/Test
/Studio_v-1.0/local.properties
/Studio_v-1.0/.idea/workspace.xml
/Studio_v-1.1/.gradle
/Studio_v-1.1/.idea
/Studio_v-1.1/app/build
/Studio_v-1.1/Test
/Studio_v-1.1/local.properties
/Studio_v-1.1/.idea/workspace.xml
.DS_Store
